*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

/* Custom properties */

:root {
    --ff-primary: "Raleway", sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-semi-bold: 600;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #2975b1;

    --fs-h1: 2.5rem;
    --fs-h2: 3rem;
    --fs-h3: 2rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em .75em rgba(0, 0, 0, .5),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

/* ----------Overall styles---------- */


main,
header {
    width: 50%;
    margin: 0 auto;
}

header {
    max-width: 50%;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    font-family: var(--ff-primary);
    line-height: 1.6;
}

main {
    min-height: 85vh;
    padding-top: 1em;
}


strong {
    font-weight: 800;
    color: var(--clr-accent);
}

.underLine {
    text-decoration: underline;
}

.centerText {
    text-align: center;
}

h1 {
    font-size: var(--fs-h1)
}

h2 {
    font-size: var(--fs-h2)
}

h3 {
    font-size: var(--fs-h3)
}


a {
    text-decoration: none;
}

button {
    background-color: lightgrey;
    color: black;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 15px;
    outline: 0;
    text-align: center;
    padding: 1em;
}

button:hover {
    background-color: black;
    color: white;
}

/* ----------Header and Nav styles---------- */

header {
    width: 75%;
    height: 75px;
    border-bottom: 2px solid #f1f1f1;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.navLink {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.homeNavLink {
    color: inherit;
    text-decoration: none;
}

.homeNavLink:hover {
    color: var(--clr-accent);
}

ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    padding-top: 8px;
}


li {
    padding: 18px 10px;
    font-weight: var(--fw-semi-bold);
}

li:hover {
    color: var(--clr-accent);
}

/* Game area */

.gameArea {
    border: black 2px solid;
    /* width: 75%; */
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    border-radius: 25px;
}

.gameInput {
    font-size: 3em;
    text-align: center;
    border-radius: 15px;
}

.gameInput:focus::placeholder {
    color: transparent;
  }

.gameStats {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.25em;
}

.randomWord {
    font-size: 3em;
}

.gameTimer {
    display: block;
    font-size: 3em;
}

.gameBottomContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;
}

.loginText {
    justify-content: flex-start;
    margin: 0 auto;
    font-size: 1.5em;
    margin-top: 0.25em;
}

.loginText a {
    color: var(--clr-accent);
    font-weight: var(--fw-semi-bold);
}

/* Score list styles */

.scoreCardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 1em;
    color: #444;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1em;
}

.scoreCard {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: var(--clr-accent);
    color: white;
    padding: 20px;
    max-width: 345px;
}

.boldStat {
    font-weight: 750;
}

.WMP {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}

/* About */

.aboutText p a {
    color: var(--clr-accent);
    font-weight: var(--fw-semi-bold);
}

/* Log in / Sign up */

.loginAndSignUpContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.loginArea {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* border: 2px black solid; */
    border-radius: 1em;
    padding: 2em;
    background-color: #f1f1f1;
}

.form-input {
    border-radius: 5px;
    /* border: 0; */
    box-sizing: border-box;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    color: black;
    text-align: center;

}

/* Footer */

.footer {
    background-color: var(--clr-accent);
    position: fixed;
    width: 100%;
    /* margin: 0 auto; */
    bottom: 0;
    color: white;
    font-size: 1.25em;
    display: flex;
    justify-content: space-between;
}

.footerElement a {
    color: inherit;
    text-decoration: none;
}

.footerElement:hover {
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
}

/* Modal styles */

.Modal {
    display: block;

    width: 600px;
    max-width: 100%;

    height: 600px;
    max-height: 100%;

    position: fixed;

    z-index: 100;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    /* If known, negative margins are probably better (less chance of blurry text). */
    /* margin: -200px 0 0 -200px; */

    background: white;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;

    background: rgba(0, 0, 0, 0.6);
}